.button{
    width: 80px;
    font-size: 14px;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 0 0 0 1em;
    
}

.todo-delete{
    margin-left: 1em;
    color: red;
    font-size: 20px;
    font-weight: 900;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: solid 1px red;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
}

.todo-delete:hover{
    background-color: rgba(226, 141, 141, 0.4);
    cursor: pointer;
}

input{
    height: 20px;
    font-size: 16px;
    padding: 10px;
}

.flex{
   display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}